# Canvas LMS Configuration
CANVAS_BASE_URL="https://apporto.instructure.com/login/canvas"
CANVAS_COURSE_NAME="Test 8"
CANVAS_ASSIGNMENT_GROUP=
CANVAS_STUDENT_NAME="t.Pavuluri+student"
CANVAS_DEFAULT_POINTS=

# Canvas User Credentials
CANVAS_TEACHER_USERNAME="t.Pavuluri+teacher"
CANVAS_TEACHER_PASSWORD="apporto@QA8"
CANVAS_STUDENT_USERNAME="t.Pavuluri+student"
CANVAS_STUDENT_PASSWORD="test@1234"

# Playwright Configuration
PLAYWRIGHT_TEST_BASE_URL=
