# Canvas LMS Configuration
CANVAS_BASE_URL=
CANVAS_COURSE_NAME=
CANVAS_ASSIGNMENT_GROUP=
CANVAS_STUDENT_NAME=
CANVAS_DEFAULT_POINTS=

# Canvas User Credentials
CANVAS_TEACHER_USERNAME=
CANVAS_TEACHER_PASSWORD=
CANVAS_STUDENT_USERNAME=
CANVAS_STUDENT_PASSWORD=

# Playwright Configuration
PLAYWRIGHT_TEST_BASE_URL=
